@charset "UTF-8";


textarea {
	display: block;
	width: 65%;
	min-height: 62px;
	padding: 8px;
	color: #555;
	font-size: 14px;
	resize: none;
	line-height: 18px;
	font-family: "Microsoft YaHei";
}

.left {
	width: 72%;
	position: relative;
	left: 55px;
}

.right {
	position: absolute;
	left: 969px;
	top: 21px;
	width: 300px;
}

.tab-content div ul li {
	list-style: none;
}

.right div .teacher-name {
	position: relative;
	top: 10px;
	left: 17px;
}

#home div {
	position: relative;
	left: 23px;
	top: 20px;
	
}

.intro {
	height: 150px;
}